@using NetCore_PostgreSQL.Data.Entity
@model Sepet
@{
    ViewData["Title"] = "Sepetim";
    Layout = "~/Views/Shared/eTicaretLayout.cshtml";
}

<h2>Sepetim</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Ürün Ad</th>
                <th>Ürün Fiyatı</th>
                <th>Adet</th>
            </tr>
        </thead>
        <tbody>
            @{ var sepet = (List<Sepet>)ViewBag.liste1;}
            @for (int i = 0; i < sepet.Count; i++)
            {
                <tr>
                    <td class="card-body">
                        <h5> @sepet[i].Urun.Ad.ToString()</h5>
                    </td>
                    <td><h5>@sepet[i].Urun.Fiyat</h5></td>
                    <td class="card-body">
                        <h5>@sepet[i].UrunAdet.ToString()</h5>
                        <a href="/Urun/AdetYukselt?id=@(sepet[i].Urun.Id)" class="btn btn-success">+</a>
                        <a href="/Urun/AdetAzalt?id=@(sepet[i].Urun.Id)" class="btn btn-danger">-</a>
                    </td>
                </tr>

                @if (i == (sepet.Count - 1))
                {
                    <tr><td></td><td></td>
                    <td><a href="~/Urun/AdresGir?id=@sepet[i].Kullanici.Id" class="btn btn-outline-info">Adres Ekle</a></td></tr>
                    
                }
            }
        </tbody>
        </table>
</div>